<mat-table #snctable [dataSource]="sncDataSource">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let entidade"> {{entidade.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="nome_municipio">
    <mat-header-cell *matHeaderCellDef>MUNICÍPIO</mat-header-cell>
    <mat-cell *matCellDef="let entidade"> {{entidade.nome_municipio}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="situacao_adesao">
    <mat-header-cell *matHeaderCellDef>SITUAÇÂO DA ADESÃO</mat-header-cell>
    <mat-cell *matCellDef="let entidade"> {{entidade.situacao_adesao}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['id', 'nome_municipio', 'situacao_adesao']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['id', 'nome_municipio', 'situacao_adesao'];"></mat-row>
</mat-table>
<mat-paginator [length]="count" [pageSize]="10" (page)="pageEvent = getEntesFederados($event)"></mat-paginator>
