<div class="fit">
<div class="busca">
  <h4>
    Consulte o seu Município ou UF
  </h4>
</div>
<form class="alinhamento">
  <mat-form-field class="layoutFill textCenter">
    <mat-placeholder>Informe o Estado, Município ou UF
      <mat-icon>search</mat-icon>
    </mat-placeholder>

    <input #searchBox matInput type="search" id="search-box"
           [(ngModel)]="queriesDeEntidades['nome_municipio']"
           [ngModelOptions]="{standalone: true}"
           (keypress)="onRealizarBuscaComEnter($event)" />

  </mat-form-field>
</form>

</div>
