<div class="fit">
<div class="busca">
  <h4>
    Consulte o seu Município ou UF
  </h4>
</div>
<form class="alinhamento">
  <mat-form-field class="layoutFill textCenter">
    <mat-placeholder>Informe o Estado, Município ou UF
      <mat-icon>search</mat-icon>
    </mat-placeholder>
    <input #searchBox matInput type="search" id="search-box" 
    (keyup)="search(searchBox.value)" />
  </mat-form-field>
</form>

<ul class="search-result">
  <li ng-if="entidades$ != ''" *ngFor="let entidade of entidades | async" >
      <p>
        {{entidade}}
      </p>
  </li>
</ul>
</div>