/* Consulte o seu Município ou UF */
.alinhamento{
    width: 50%;
    text-align:center;
    margin-left: 25%;

}

.layoutFill{
    width: 60%;
}

.textCenter{
    text-align: center
}

.busca h4 {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    color: #2B9087;
    text-align: center;
    margin-bottom: 2px;
  }
 