<div class="fit">
<div class="busca">
  <h4 *ngIf="seletorTipoBusca == false">
    Consulte o seu Município ou UF
  </h4>
</div>

<form *ngIf="seletorTipoBusca == false" class="alinhamento card-busca">
  <mat-form-field class="layoutFill textCenter">
    <mat-placeholder>Informe o Estado, Município ou UF
      <mat-icon>search</mat-icon>
    </mat-placeholder>

    <input #searchBox matInput type="search" id="search-box"
           [(ngModel)]="termoSimples"
           [ngModelOptions]="{standalone: true}"
           (keypress)="onRealizarBuscaComEnter($event)" />

  </mat-form-field>

</form>

  <form *ngIf="seletorTipoBusca == true" class="alinhamento card-busca" (keypress)="onRealizarBuscaComEnter($event)">
    <mat-form-field class="textCenter">
      <mat-placeholder> Estado ou Município
        <mat-icon>search</mat-icon>
      </mat-placeholder>

      <input #searchBox matInput type="search" id="search-box"
             [(ngModel)]="queries['nome_municipio']"
             [ngModelOptions]="{standalone: true}" autofocus/>

    </mat-form-field >
    <mat-form-field class="textCenter">
      <mat-placeholder> UF
        <mat-icon>search</mat-icon>
      </mat-placeholder>

      <input #searchBox matInput type="search" id="search-box"
             [(ngModel)]="queries['estado_sigla']"
             [ngModelOptions]="{standalone: true}" autofocus/>


    </mat-form-field >

    <mat-form-field class="textCenter">
      <mat-placeholder>CNPJ
        <mat-icon>search</mat-icon>
      </mat-placeholder>

      <input #searchBox matInput type="search" id="search-box"
             [(ngModel)]="queries['cnpj_prefeitura']"
             [ngModelOptions]="{standalone: true}" />

    </mat-form-field >


  </form >

  <a class="alinhamento" (click)="seletorTipoBusca = !seletorTipoBusca">{{ seletorTipoBusca ? '&#x25B4; Busca Simples' : '&#x25B8; Busca Avançada' }}</a>
</div>
