<!--The content below is only a placeholder and can be replaced.-->
<mat-grid-list cols="1" rowHeight="5:1">
    <mat-grid-tile [colspan]="1" [rowspan]="1" class="background">
      <h1>
        {{ title }}
      </h1>

      <nav style="align:right" class="menuTop">
          <a routerLink="/">Sobre o SNC</a>
          <a routerLink="/">Perguntas frequentes</a>
          <a routerLink="/">Fale conosco</a>
          <a routerLink="/"><b>Entrar</b></a>
      </nav>
    </mat-grid-tile>
</mat-grid-list>

<nav>
  <a routerLink="/">Home</a>
  <a routerLink="/tabela-uf-municipio">Tabela UF</a>
</nav>

<router-outlet></router-outlet>
