<!--The content below is only a placeholder and can be replaced.-->
<header >

    <mat-toolbar class="menuTop background top">
        <mat-toolbar-row>
            <span>
                {{ title }}
            </span>
            <span>  <img class="imageTop" src="./assets/Group 20.2.png"/> </span>
            <span class="space"></span>
            <span>        
              <a routerLink="/">Sobre o SNC</a>
              <a routerLink="/">Perguntas frequentes</a>
              <a routerLink="/">Fale conosco</a>
              <a routerLink="/"><b>Entrar</b></a></span>
          </mat-toolbar-row>  
    </mat-toolbar>
</header>

<nav>
  <a routerLink="/">Home</a>
  <a routerLink="/tabela-uf-municipio">Tabela UF</a>
</nav>

<router-outlet></router-outlet>
