<snc-busca></snc-busca>

<div id="cardsHome" class="background">
<h4>PARTICIPE DO SNC</h4>
<div class="alinhamento">
        
        <mat-card class="card mat-elevation-z0">
                <mat-card-content>
                                <a href="http://snchomolog.cultura.gov.br/">
                        <img src="./assets/Group 32.png" width="100%">
                             </a>
                      </mat-card-content>
            <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      
        <mat-card class="card mat-elevation-z0">
                <mat-card-content>
                        <a href="http://snchomolog.cultura.gov.br/">
                                <img src="./assets/Group 32.1.png" width="100%"/>
                        </a>
                      </mat-card-content>
            <mat-card-actions>
          </mat-card-actions>
        </mat-card>
        <mat-card class="card mat-elevation-z0">
                <mat-card-content>
                                <a href="http://snchomolog.cultura.gov.br/">
                                <img src="./assets/Group 32.2.png" width="100%">
                                </a>
                      </mat-card-content>
            <mat-card-actions>
          </mat-card-actions>
        </mat-card>
</div>
</div>
      