<!-- <mat-grid-list cols="3">
  <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="'#DDBDF1'">1
        <snc-busca></snc-busca>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="'red'">2</mat-grid-tile>
  <mat-grid-tile class="alinhamento" [colspan]="3" [rowspan]="1" [style.background]="'green'">        
  </mat-grid-tile>
</mat-grid-list>
 -->
 <div class="busca" text-center>
     <h4>
            Consulte o seu Município ou UF
     </h4>
<snc-busca></snc-busca>
</div>

<div class="alinhamento">
        <mat-card class="example-card">
                <mat-card-content>
                        <p>
                                QUERO O PASSO A PASSO PARA ADESÃO NO SNC
                        </p>
                      </mat-card-content>
            <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      
        <mat-card class="example-card">
                <mat-card-content>
                        <p>
                                QUERO CONHECER OS CONSELHOS CULTURAIS DO BRASIL
                        </p>
                      </mat-card-content>
            <mat-card-actions>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
                <mat-card-content>
                        <p>
                                BUSCO OS EDITAIS DOS PROJETOS CLASSIFICADOS
                        </p>
                      </mat-card-content>
            <mat-card-actions>
          </mat-card-actions>
        </mat-card>
        

      </div>
      