<div id="numeroAdesoes" class="alinhamento contador">
  <h2>Conheça os Números</h2>
</div>
<div class="alinhamento contador">
  <div class="alinhamento">
    <img class="locations" src="./assets/location.png" width="18%" />
    <mat-card class="card mat-elevation-z0">
      <h1>2879</h1>
      <p>Municípios</p>
      <p>Aderiram</p>
    </mat-card>

    <img class="locations" src="./assets/location.png" width="18%" />
    <mat-card class="card mat-elevation-z0">
      <h1>20</h1>
      <p>Estados</p>
      <p>Participantes</p>
    </mat-card>
  </div>

</div>

<div id="cardsHome" class="background">
  <br>
  <h2>Participe do SNC</h2>

  <div class="alinhamento">
    <mat-card class="card mat-elevation-z0">
      <mat-card-content>
        <a href="http://snc.base-wp.cultura.gov.br/como-fazer-parte/" target="_blank">
          <img src="./assets/Group 32.png" width="100%">
          <div id="azulClaro">
            <p>
              <b> QUERO O PASSO A PASSO PARA A PARTICIPAÇÃO
              </b>
            </p>
          </div>
        </a>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card mat-elevation-z0">
      <mat-card-content>
        <a href="http://hmg.snc.cultura.gov.br/" target="_blank">
          <img src="./assets/tutoriais.png" width="100%" />
          <div id="verdeClaro">
            <p>
              <b> QUERO CONHECER OS TUTORIAIS DISPONÍVEIS
              </b>
            </p>
          </div>
        </a>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card mat-elevation-z0">
      <mat-card-content>
        <a href="http://hmg.snc.cultura.gov.br/">
          <img src="./assets/login.png" width="100%" target="_blank">
          <div id="amareloClaro">
            <p>
              <b> QUERO ACESSAR O SISTEMA NACIONAL DE CULTURA
              </b>
            </p>
          </div>

        </a>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
</div>